header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.header-left {
  flex: 1;
}

.header-title {
  font-size: 1.8em;
  margin-left: 2em;
}

.header-right {
  margin-right: 1em;
}

.header-nav ul {
  display: flex;
  list-style: none;
}

.header-nav a {
  text-decoration: none;
  font-size: 1.25em;
  font-weight: bold;
  margin: 0 1em;
}

.header-nav a.active-tab {
  font-weight: bolder;
}

.header-nav a:link, a:visited {
  text-decoration: none;
  color: var(--black);
}

.header-nav a:hover {
  border-bottom: 2px solid var(--black);
}

.burger-menu {
  background: none;
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  .header-nav a {
    margin: 0 0.5em;
  }
}

@media (max-width: 768px) {
  .header-nav {
    display: none;
    flex-direction: column;
    justify-items: right;
    position: absolute;
    top: 3em;
    right: 1em;
    padding: 1rem;
  }

  .header-nav.expanded {
    display: flex;
  }

  .burger-menu {
    display: inline-block;
  }

  .burger-menu:hover {
    border: 1px solid var(--black);
    border-radius: 6px;
  }
}
