* {
  --bg: #fffae8;
  --bggray: #f4f4f4;
  --shallowgray: #b6b5b5;
  --gray: #787878;
  --black: #2b2b2b;
  --dark: #000000;
  --blue: #3399ff;
  --light-blue: #7fc9ff;
  --pastel-blue: #a3c1da;
  --green: #4caf50;
  --serif: Garamond, "Adobe Garamond Pro", Georgia, Caslon, "Adobe Caslon Pro",
    "Minion Pro", Minion, "Palatino Linotype", "Times New Roman";
  --sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--black);
  font-size: 16px;
  font-family: var(--serif), serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.25;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
}


